body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  min-height: 100vh;
  background-color: #443d3d;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
}
.center-container {
  display: flex;
}
  
.profile-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}
  
.profile-card {
  width: 700px;
  height: 300px;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-right: 20px;
}
  
  .black-profile {
    background-color: #000;
    color: #fff;
  }
  
  .profile-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .profile-content {
    padding: 20px;
  }
  
  .profile-name {
    font-size: 1.8rem; /* Increase font size */
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .profile-description {
    font-size: 1.2rem; /* Increase font size */
    color: #666;
    margin-bottom: 20px;
  }
  
  .profile-button {
    display: block;
    width: 100%;
    padding: 15px; /* Increase padding */
    font-size: 1.2rem; /* Increase font size */
    background-color: #3498db;
    color: #fff;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .profile-button:hover {
    background-color: #2980b9;
  }